<%-include("./partials/navbar")%>
<link rel="stylesheet" href="cart.css">
<% if(typeof cartList=='undefined'){%>
  <div class="videoDiv">
    <div class="videoBox">
      <video src="/videos/NoContent.mp4" height="300px;" autoplay muted loop></video>
    </div>
    <p class="paragraph">No Items Found !</p>
  </div>
  <script>
    const video = document.querySelector("video");
    video.playbackRate = 0.8;
  </script>
<%}%>