<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/login.css">
</head>
<body>
  <div id="wholeLogin">
    <div id="loginBlock">
      <p class="greeting">Welcome Back! </p>
      <div class="formContainer">
        <%if(typeof error!='undefined'){%>
          <div class="errorBlock">
            <%=error%>
          </div>
        <%}%>
        <form action="/loginCheck" method="POST" style="display:flex;flex-direction:column; gap:10px;">
          <div class="toggleAndDisplay">
            <button type="button" class="toggle" onclick="hostShift()">
              <div class="insideToggle">
              </div>
            </button>
            <div class="displayToggle">User</div>
            <a href="/home" style="margin-top:10px;color:red">Guest</a>
          </div>
          <input type="hidden" class="hiddenInput" name="userType" value="User">
          <input class="userInput" type="email" placeholder="Enter the email" name="email">
          <input class="userInput" type="password" placeholder="Enter the password" name="password">
          <div class="Buttons">
            <a href="/signUp"><button type="button" class="loginButtons">Sign Up</button></a>
            <button class="loginButtons type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="/loginScript.js"></script>
</body>
</html>