<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  <div id="wholeLogin">
    <div id="loginBlock">
      <p class="greeting">Welcome Back! </p>
      <div class="formContainer">
        <form action="/loginCheck" method="POST" style="display:flex;flex-direction:column; gap:10px;">
          <div class="toggleAndDisplay">
            <button type="button" class="toggle" onclick="hostShift()">
              <div class="insideToggle">
              </div>
            </button>
            <div class="displayToggle">User</div>
            <a href="/home" style="margin-top:10px;color:red">Guest</a>
          </div>
          <input type="hidden" class="hiddenInput" name="userType" value="User" required>
          <input class="userInput" type="email" placeholder="Enter the email" name="email" required>
          <div  class="userInput">
            <input id="passwordAnimation" type="password" placeholder="Enter the password" name="password" required>
            <i id="icon" onClick="eyeClick()" style="cursor:pointer;" class="fa-regular fa-eye"></i>
          </div>
          <div class="Buttons">
            <a href="/signUp"><button type="button" class="loginButtons">Sign Up</button></a>
            <button class="loginButtons" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
    <%if(typeof message!='undefined' && message){%>
      <div id="notifyDiv">
        <p id="notify"><%=message%></p>
      </div>
    <%}%>
  </div>
  <script src="/loginScript.js"></script>
    <script>
      window.onload = function(){
        notification();
      }
    </script>
</body>
</html>