.videoDiv{
  background-color: #141e30;
  height:87vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.paragraph {
  margin-left:30px;
  font-size:40px;
  background: linear-gradient(to right, #7bd7ff, #4b4eff);
  background-clip: text;
  color: transparent;
}
.cartListBody{
  color:white;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cartBoxCollection{
  width:100%;
  height:500px;
}
.cartBox{
  display:flex;
  flex-direction:row;
}
.container{
  padding:30px;
}
.cartBoxContainer{
  margin:20px;
  position:relative;
  border-radius:8px;
}
.editAndDelete{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-evenly;
  bottom:30px;
  position:absolute;
}
#edit,#delete{
  margin:8px;
  min-width:100px;
  height:25px;
  color:white;
  background-color:transparent;
  border:1px solid black;
}
#edit:hover{
  border-radius:15px;
  background-color:rgb(49, 251, 157);
  color:black;
}
#delete:hover{
  border-radius:15px;
  background-color:orangered;
  color:black;
}
.cartBoxContainer:hover{
  box-shadow:0px 4px 8px black;
  transform:translateY(-4px);
}
#heading{
  color:rgb(212, 0, 255);
  font-size:25px;
  text-shadow:0px 0px 5px rgb(212, 0, 255);
}
.imageBox{
  margin:30px;
  width:400px;
}
#image{
  width:300px;
}